{
	auto_https disable_redirects
}
ws://, http:// {
    root * /usr/src/app/build/
    file_server
    log
    handle_path /api/* {
        rewrite * {path}
        reverse_proxy localhost:3000
    }
    handle_path /w* {
        reverse_proxy localhost:3000
    }
}
